body {
	margin: auto;
	padding: .25rem;
	max-width: 950px;
	font-family: 'Roboto', sans-serif;
}

main {
	margin: auto;
}

footer {
	margin: 3rem auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .65rem;
	color: #bbb;
}

.bio-grid, .grid {
	animation: slideIn 250ms ease-out;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #0c0920;
		color: #fff;
	}

	.header__nav-item {
		color: #d7a08b;
	}

	.header__nav-item:hover {
		color: #fff !important;
	}

	footer {
		color: #d7a08b;
	}
}

@keyframes slideIn {
	0% {
		transform: translate(0%, 10%);
		opacity: 0;
	}
	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}


