@font-face {
  font-family: 'Abril Fatface';
  src: url('/fonts/AbrilFatface/AbrilFatface-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
	height: 100vh;
	margin: auto;
	padding: .25rem;
	font-family: 'Poppins';
	background: #fec8a0;
	color: #251f54;
	letter-spacing: .6px;
}

.Home, .Posts, article {
	border: 2px solid #251f54;
	padding: 2rem;
	box-shadow: 10px 10px;
}

.Home, .Posts, article {
	max-width: 700px;
	margin: auto;
}

img {
	border: 2px solid #251f54;
}

Header {
	max-width: 786px;
	margin: auto;
}

Footer {
	max-width: 780px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:  'Abril Fatface';
}

h1 {
	font-size: 2.55rem;
	font-weight: 400;
}

h2 {
	font-size: 1.55rem;
	font-weight: 400;
	margin-bottom: .5rem;
}

h3 {
	font-size: .9rem;
}

p {
	font-size: .9rem;
	font-weight: 400;
	line-height: 2;
}

em {
	font-family: serif;
}

ol, ul {
	padding-left: 1.5rem;
}

ol li, ul li {
	margin-bottom: .5rem;
}

main {
	margin: auto;
}

footer {
	margin: 3rem auto;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .65rem;
}

.Home, .Posts, .bio-grid, article, .grid {
	animation: slideIn 150ms ease-in-out;
}

.search-input {
	width: 90%;
	padding: 1rem;
	background: #1d1e3f;
	color: #fdced0;
	border: none;
	border-radius: 16px;
	font-size: 1rem;
}

.search-input:focus {
	outline: none;
}

::placeholder { 
	color: #fdced0;
}

.see-all-btn-container {
	margin-top: 2rem;
}

.button {
	text-decoration: none;
	background: #1d1e3f;
	color: #fec8a0;
	border: none;
	border-radius: 16px;
	padding: .5rem 1rem;
	font-size: .8rem;
	transition: background ease-in-out 150ms;
}

.tags {
	margin: .5rem;
}

.tags:first-child {
	margin-left: 0 !important;
}

.button:hover {
	background: #0b0b18;
}

.tag-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 1rem 0;
	padding: 0;
}


@media screen and (max-width: 700px) {

	.Home, .Posts, article {
		border: 2px solid #251f54;
		padding: 1rem;
		box-shadow: 10px 10px;
	}

	body {
		padding: 1rem;
	}

	.bio {
		grid-template-columns: 1fr !important;
	}

	.bio h1 {
		margin-top: 0;
		font-size: 2.55rem;
	}

	.bio__image {
		display: none;
	}

	h1 {
		font-size: 2rem;
	}
	
	h2 {
		font-size: 1rem;
	}
	
	h3 {
		font-size: .8rem;
	}

	.blog-post__tags {
		display: none;
	}
}

/* @media (prefers-color-scheme: dark) {

	.Home, .Posts, article {
		border: 2px solid #251f54;
		box-shadow: 10px 10px #0f1021;
	}
	

	body {
		background-color: #14112e;
		color: #fdced0;
	}

	.blog-list a {
		color: #f4c8ff !important;
	}

	.header__nav a {
		color: #d1c8ff !important;
	}

	.blog-list li {
		border-bottom: 1px solid #fdced0 !important;
	}

	img {
		filter: brightness(.7);
	}

	.button { 
		background: #fdced0 !important;
		color: #1d1e3f;
	}

	.search-input:focus {
		outline: 2px solid #ffbcb1;
	}
	
} */

@keyframes slideIn {
	0% {
		transform: translate(0, 30px);
		opacity: 0;
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}



